<h1>Detalle de Pago</h1>
<div class="container-fluid" id="contenedor">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Evento</th>
                <th scope="col">Cantidad de Tickets</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
            </tr>
        </thead>
      </table>
  </div>
  <div class="container-fluid" id="contenedorpago">
      <div class="container-fluid" class="tre">
          <p>Total a Pagar</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col" style="font-size: 20px;">Items</div>
          <div class="w-100"></div>
          <div class="col">Barcelona vs Madrid</div>
          <div class="col">L. 4000</div>
        </div>
        <div class="row">
            <div class="col">Subtotal</div>
            <div class="col">L. 4000</div>
          </div>
          <div class="row">
            <div class="col">ISV</div>
            <div class="col">L. 600</div>
          </div>
          <div class="row">
            <div class="col">Total</div>
            <div class="col">L. 4600</div>
          </div>
      </div>
  </div>